:root {
	/* Colors */
	--lightgray: #d1d1e0;
  --darkgray: #404141;
  --txt-lg: #6094BE;
  --txt-md: #396C9F;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a, li {
	text-decoration: none;
	list-style-type: none;
}

/* Linsk */

a, 
a:active {
	color: blue;
}

a:visited {
		color: brown;
	}

body {
  padding-inline: 1rem; 
}

/* Banner at the top of the site */
.what {
  min-width: 100%;
  margin-bottom: .1rem;
  border-radius: .2rem;
  padding-inline: 1rem;
  color: white; 
  font-size: 12px;
  background-color: var(--txt-md);
  text-align: center;
}

/* Header */

header {
	min-width: 100%;
	border: 2px solid var(--lightgray);
	border-radius: .5rem;
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: var(--txt-lg);
}


/* Navigation */

.nav .home {
  min-width: 1rem;
  background: none;
  border-radius: .150rem;
}


.nav .home:hover,
.nav .home:active,
.nav .home:focus {
  min-width: 1rem;
  background: none;
  box-shadow: 1px 1px var(--txt-lg);
  border-radius: .150rem;
  transition: .3s ease-in-out;
}

.home svg {
  min-width: 1rem;
}

/* Main */

main {
	border: 2px solid var(--lightgray);
	border-radius: .5rem;
	margin-top: 1rem;
}

/* Categories Section */


.categories {
	padding: .5rem;
	
}

.categories-title {
  color: var(--txt-md);
}

