<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Definitions | Permiso B</title> 
</head>
<body>
 <header class="header-title">
   <h1>Definitions</h1>
   <div class="navigation">
   <button class="home"><a href="../index.php">Home</a></button>

   </div>

 </header>
 <main>
   <div class="titular">
     <h3>Titular</h3>
     <p>Persona cuyo nombre figura inscrito el vehiculo en el registro oficial correspondiente.</p>
   </div>
 </main>
</body>
</html>
